*{
    box-sizing: border-box;
}


html{
    background-color: white;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;
    margin: 0 auto;
    width: 65%;
    border: 2px solid black;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    row-gap: 2rem;
    justify-items: center;
    padding:2rem
}

.card{
    border:2px solid black;
}

.card h3{
    font-weight:600;
    font-size: 1.3rem;
}